/WebApplication1/nbproject/private/
/build/
/testeindex/nbproject/private/
/dist/
nbproject/private/private.properties
nbproject/private/private.xml
src/java/ConectDB.java
nbproject/private/private.xml
