body {
    margin: 0 auto;
    width: 100%;
    background: url(img/cloud-bar.png) repeat-x #fff;
    padding-top: 10px;
}

::-webkit-input-placeholder {
    width: 100%;
    font-family: 'Miriam Libre';
    font-size: 12px;
}
.postagens{
    font-family: arial;

}

.botao{
    margin-top: 15px;
    align-content: left;
    font-family: arial;
    color: black;
    border: 2px solid black;
}



.nav {
    border: 1px solid #dee0df;
    display: flex;
    height: 79px;
    max-width: 100%;
}

.logo {
    padding-left: 15px;
    height: 32px;
    width: 48px;
    margin-right: 10px;
    margin-top: 20px;
    line-height: 80px;
}

.div-middle-menu,
.div-right-menu {
    border-left: 1px solid #CCC;
    width: 32%;
    padding: 0 15px 0 15px;
}

.div-right-align {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
}

.div-right-menu>a,
.dropdown {
    color: #525252;
    display: block;
    font-size: 14px;
    padding: 4% 2%;
    font-family: 'Miriam Libre', sans-serif;
    float: left;
}
.alinhamento {
    margin-top: 15px;
    align-content: center;
    font-family: 'Miriam Libre', arial;
    color: black;
    background-color: #C0C7C4; 
    border: 2px solid #525252;
    margin-right: 30px;
    height: 20px;
    width: 55px;
    text-decoration: none;
}

.div-right-menu>a:hover,
.div-right-menu>div:hover {
    color: #e74430;
}

.search-img {
    width: 16px;
    height: 14.69px;
    margin-top: 30px;
    padding-right: 25px;
    float: left;
    display: none;
}

.img-cloud {
    display: flex;
    height: 10px;
    max-width: 100%;
    /* max-width: calc(100% - 90px); */
}

.macbook {
    align-items: center;
}

.wrapper {

    min-height: 100%;
    display: block;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #e5e5e5;
}

.overflowHidden {
    overflow: hidden;
    display: inline-block;
    width: 100%; 
    height: 95%; 
}

.dropdown-content {
    display: none;
    position: absolute;
    max-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    padding: 3px 20px;
    line-height: 1.42857143;
    white-space: nowrap;
    font-weight: 400;
    color: #333;
}

.dropdown:hover .dropdown-content {
    margin-top: 2.5%;
    display: block;
}

.cadastro{
    margin-top: 20px;
    margin-bottom: 10px;
}

.search-input{
    border:none;
    outline: none;
    width: 80%;
    float:left;
    height: 100%;
}

.hamburguer {
    border: none;
    border-radius: 3px;
    background: #f4645f;
    padding: 10px 15px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    display: none;
    vertical-align: middle;
}

.subtitulo{
    font-size: 21px;
    letter-spacing: -.02em;
    text-align: center;
    font-weight: 200;
    font-family: 'Miriam Libre','Source Sans Pro',sans-serif;    color: #aeaeae;
    -webkit-font-smoothing: antialiased;
}

.div-hamburguer {
    padding: 0 15px;
    -webkit-box-align: center;
    align-items: center;
    display: none;
    width: 10%;
}

.div-logo {
    width: 15%;
    display: flex;
    justify-content: space-around;
}

.fa {
    display: inline;
}

.wrapper {

    min-height: 100%;
    display: block;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #e5e5e5;
}

.conteudo {
    width: 100%;
    height: 325px;

}

.card {
    height: 250px;
    margin-bottom: 0;
    width: 20%;
    padding: 40px 40px;
    background-color: #f7f7f7;
    border-radius: 2px;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #404040;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 2px;
    border-bottom: 3px;
    border-bottom-color: darkgray;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

.card2 {
    height: 900px;
    margin-bottom: 0;
    width: 20%;
    padding: 40px 40px;
    background-color: #f7f7f7;
    border-radius: 2px;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #404040;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 2px;
    border-bottom: 3px;
    border-bottom-color: darkgray;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.15);
}

@media screen and (max-width: 960px) {
    .div-right-menu,
    .macbook,
    #laravel {
        display: none;
    }

    .logo {
        padding: 0 15px 0 15px;
    }

    .div-middle-menu {
        width: 100%;
    }

    .hamburguer {
        display: flex;
    }

    .div-hamburguer {
        display: flex;
        justify-content: flex-end;
    }

    .search-input{
        width: 90% !important;
    }
}

@media screen and (min-width:659px) {
    .search-img {
        display: block !important;
    }

    .search-input{
        width: 80%;
    }

}
.quadrado{
    font-family: arial black;
    padding: 20px 10px 10px 10px;
    margin-top: 25px;
    margin-bottom: 20px;
    height: 200px;
    width: 900px;
    border: 2px solid #C0C7C4;   
}

